*{
    font-size: 1em;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;

}
body{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}
header{
    background: #2A0000;
    color: white;
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    font-size: 1.8em;
}
main{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 80vh;
    
}
aside{
    background-color: #FF8080;
    width: 250px;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

}
.abtn,.bbtn,.lbtn{
    width: 170px;
    height: 50px;
    font-size: 1.3em;
    color:white;
    border: none;
    background:#550000 ;
    margin-top: 10px;
}
#container{
    display: block;
    width: 100%;
    position: relative;;
}
thead{
    background:#2C3B64 ;
    color: white;
    height: 40px;
    font-size: 1.3em;
}

#biblio{
    width: 100%;
}
thead th{
    text-align: left;
}
.idhide{
    display: none;
}
tbody{
    font-size: 1.2em;
}
#col1{
    text-align: right;
}
tbody tr:nth-child(even){
    background: #B2BDDD;
}
tbody tr td{
height:40px;
}
tbody tr:nth-child(odd){
background: gainsboro;
    
}

footer{
    background: #2A0000;
    color: white;
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    font-size: 1.8em;
}
#frmlogin{
    width: 500px;
    margin: auto;
    margin-top: 10%;
    background: #FFD4D4;
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h2{
    font-size: 2em;
}

.getup{
    width: 90%;
    height: 100px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.getup label{
    align-self: flex-start;
    margin-left: 0%;
    font-size: 1.6em;
    width: 100%;
}
input[type="email"],input[type="password"]{
    width: 100%;
    height: 40px;
}

#btn_log_login,#btn_log_cancel{
    width: 90px;
    align-self: flex-start;
    border: none;
    margin-left: 5%;
    height: 40px;
    background: #2A0000;
    color: white;
    margin-top: 7px;
    margin-bottom: 10px;
}
#showbooks{
    width: 80%;
    height: 70%;
    overflow-y: auto;
    padding-left: 30px;
}
#showstud{
    width: 90%;
    height: 80px;
    font-size: 2em;
    padding: 20px 30px;
    
}

#showbib{
    width: 90%;

}


#frmnewbook{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: #FFD4D4;
    width: 600px;
    margin: auto;
    margin-top: 30px;
    padding: 10px 25px;
  
}

tbody tr:hover{
    background: #F67E7E;
}

#frmnewbook h1{
    font-size: 1.5em;
}

label{
   font-size: 1.3em;
}
input[type="text"]{
    width: 80%;
    height: 35px;
    float: right;
    margin-bottom: 15px;
}

.divnewb,.divupdb{
    width: 100%;
    margin: 5px auto 5px 0px;
      
}

#frmnewbook #btn_nb_submit,#btn_nb_cancel{
    width: 200px;
    font-size: 1.5em;
    margin-bottom: 15px;
    height: 50px;
    border: none;
    border-radius: 5px;   
    background: #550000;
    color: white;
}

#divmessage{
    position: absolute;
    opacity: 1;
    width: 30%;
    height: 20%;
    font-size: 1.5em;
    padding: 10px;
    top:40%;
    left: 35%;
    background: #F35656;
    transition: opacity 2s ease-out;
    color: white;
}

.butonAdd{
    background-image: url("/images/shuffle-change-svgrepo-com.svg");
    width: 30px;
    height: 30px;
}
#butonDel{
    background-image: url("/images/delete-svgrepo-com.svg");
    width: 30px;
    height: 30px;

}
#imgadd{
    width: 30px;
    height: 30px;
    background-image: url("/images/shuffle-change-svgrepo-com.svg");
    ;
}

#coltools{
    width: 100px;
}
.tools{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    
}
#toolbtn{
    margin-right: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90px;
}